body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#hautpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
}

#whoami {
    font-size: 20px;
}